<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Opponent</th>
      <th>User score</th>
      <th>Opponent score</th>
      <th>Game date</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.user_id %></td>
        <td><%= game.opponent_id %></td>
        <td><%= game.user_score %></td>
        <td><%= game.opponent_score %></td>
        <td><%= game.game_date %></td>
        <td><%= game.result %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
